body{
    font-family: "Montserrat", sans-serif;
}

header{
    height: 15vh;
    background-color: rgb(0, 150, 136);
}

main{
    height: 85vh;
    background-color: rgb(215, 219, 215);
}

section#app{
    width: 960px;
    min-width: 750px;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.header{
    height: 8vh;
    background-color: rgb(234, 234, 234);
    
}

div#aside-messages{
    height: 82vh;
}

div#main-messages{
    height: 82vh;
    background-image: url(../img/mine.jpg);
    border-right: 7px solid rgb(234, 234, 234);
    overflow-y: auto;
}
div#main-footer{
    height: 8vh;
    background-color: rgb(234, 234, 234);
}

.third-width{
    width: calc(100% / 3);
}

.main-width{
    width: calc((100% /3) * 2);
}

.my-messages{
    height: 50px;
    width: 40%;
}

.sent-message{
    background-color: rgb(213, 249, 186);
}

.received-message{
    background-color: white;
}

.sub-text{
    font-size: .7rem;
}

.date-text{
    font-size: .5rem;
}

.my-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.my-names{
    font-size: .8rem;
}

div#desktop-notify{
    height: 70px;
    background-color: rgb(142, 218, 252);
}

div#desktop-notify i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: white;
    color: rgb(142, 218, 252);
}


div#contacts-list{
    height: 100%;
    overflow-y: scroll;
}

div#contacts-list li{
    height: 9vh;
}

.active{
    background-color: lightgray;
}

div#contacts-list li:hover{
    background-color: lightgrey;
}

div.my-pop-up i.arrow-menu{
    display: none;
    cursor: pointer;
}

div.my-pop-up:hover i.arrow-menu{
    display: block;
}

.my-dropdown-menu{
    width: 100px;
    height: 40px;
    background-color: rgba(234, 234, 234, .7);
    border-radius: 10px;
    display: none;
    z-index: 1;
}

.my-dropdown-menu span{
    cursor: pointer;
}

.my-dropdown-menu:hover{
    background-color: lightgray;
}
